@charset "UTF-8";
/* geral */
* {
    padding: 0;
    margin: 0;
}
body {
    background-color: lightseagreen;
    color: black;
}

/* seção  */
section{

    background-color: aliceblue;
    width: 50%;
    height: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    border-radius: 15px;
    padding: 0% 0% 5% 0%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}
h1 {
    font-family: sans-serif;
    font-size: xx-large;
    text-align: center;
    margin-top: 3%;
    color: black;
}

h2 {
    font-family: sans-serif;
    font-size: x-large;
    text-align: center;
    margin: 2%;
    color: black;
}

p{
    font-family: sans-serif;
    font-size: large;
}

    /* input */

    input{width: 15%;}
    input {margin-bottom: 1%;}

    /* botao*/

input#botao{
        padding: 1%;
        width:fit-content;
        margin-left: 4%;
    }

div{padding-top: 2%;}

/* rodape */

footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 1%;
    color: black;
    
    width: 25%;
    margin-left: auto;
    margin-right:auto ;
    margin-top: 1%;
    border-radius: 15px;
}

select#flista{
    width: 150px;
}