body{
    background-color: lightgray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    text-align: center;
}

.place {
    display: flex;
    justify-content: right;
}

.header {
    text-align: center;
    border: 2px solid;
    border-radius: 5px;
    color: white;
    background-color: black;
}

#place {
    border-radius: 3px;
}

#button1 {
    border-radius: 3px;
}